@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --white: 210, 100%, 100%; /* Compatible with: grey-dark, grey-darkest, black, error-dark, accent-dark */
    --grey-lightest: 197, 30%, 95%; /* Compatible with: grey-dark, grey-darkest, black, accent-dark */
    --grey-light: 205, 22%, 85%; /* Compatible with: grey-darkest, black, accent-dark */
    --grey: 201, 14%, 59%; /* Compatible with: black */
    --grey-dark: 207, 14%, 39%; /* Compatible with: white, grey-lightest, error-light, accent-light */
    --grey-darkest: 205, 21%, 27%; /* Compatible with: white, grey-lightest, grey-light, error-light, accent-light */
    --black: 204, 87%, 6%; /* Compatible with: white, grey-lightest, grey-light, grey, error-light, accent-light */
    --error-light: 348, 100%, 60%; /* Compatible with: black */
    --error-dark: 354, 71%, 36%; /* Compatible with: white, grey-lightest, grey-light */
    --accent-light: 149, 56%, 52%; /* Compatible with: black */
    --accent-dark: 150, 55%, 25%; /* Compatible with: white, grey-lightest, grey-light */


    --quote: var(--black);
    --quote-foreground: var(--grey-darkest);

    --background: var(--white);
    --foreground: var(--black);

    --card: var(--white);
    --card-foreground: var(--black);

    --popover: var(--white);
    --popover-foreground: var(--black);

    --primary: var(--black);
    --primary-foreground: var(--white);

    --secondary: var(--grey-lightest);
    --secondary-foreground: var(--black);

    --muted: var(--grey-lightest);
    --muted-foreground: var(--grey-dark);

    --accent: var(--accent-dark);
    --accent-foreground: var(--white);

    --destructive: var(--error-dark);
    --destructive-foreground: var(--white);

    --border: var(--grey-light);
    --input: var(--grey-light);
    --ring: var(--black);

    --radius: 0.5rem;
  }
 
  .dark {
    --background: var(--black);
    --foreground: var(--white);

    --quote: var(--whote);
    --quote-foreground: var(--grey-lightest);

    --card: var(--black);
    --card-foreground: var(--white);

    --popover: var(--black);
    --popover-foreground: var(--white);

    --primary: var(--white);
    --primary-foreground: var(--black);

    --secondary: var(--grey-darkest);
    --secondary-foreground: var(--white);

    --muted: var(--grey-darkest);
    --muted-foreground: var(--grey);

    --accent: var(--accent-light);
    --accent-foreground: var(--black);

    --destructive: var(--error-light);
    --destructive-foreground: var(--black);

    --border: var(--grey-darkest);
    --input: var(--grey-darkest);
    --ring: var(--grey-light);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}