@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --white: 210, 100%, 100%; /* 	#ffffff Compatible with: grey-dark, grey-darkest, black, error-dark, accent-dark */
    --grey-lightest: 210,20%,96.1%; /* Compatible with: grey-dark, grey-darkest, black, accent-dark */
    --grey-light: 210,19.5%,83.9%; /* Compatible with: grey-darkest, black, accent-dark */
    --grey: 211.5,19.6%,60%; /* Compatible with: black */
    --grey-dark: 210,19.5%,16.1%; /* Compatible with: white, grey-lightest, error-light, accent-light */
    --grey-darkest: 206.7,22%,8%; /* Compatible with: white, grey-lightest, grey-light, error-light, accent-light */
    --black: 210,20%,3.9%;  /* 	#080a0c Compatible with: white, grey-lightest, grey-light, grey, error-light, accent-light */
    --error-light: 348, 100%, 60%; /* Compatible with: black */
    --error-dark: 354, 71%, 36%; /* Compatible with: white, grey-lightest, grey-light */
    --accent-light: 149, 56%, 52%; /* Compatible with: black */
    --accent-dark: 150, 55%, 25%; /* Compatible with: white, grey-lightest, grey-light */


    --quote: var(--black);
    --quote-foreground: var(--grey-darkest);

    --background: var(--white);
    --foreground: var(--black);

    --card: var(--grey-lightest);
    --card-border: var(--grey-light);
    --card-foreground: var(--black);

    --popover: var(--white);
    --popover-foreground: var(--black);

    --primary: var(--black);
    --primary-foreground: var(--white);

    --secondary: var(--grey-lightest);
    --secondary-foreground: var(--black);

    --muted: var(--grey-lightest);
    --muted-foreground: var(--grey-dark);

    --accent: var(--accent-dark);
    --accent-foreground: var(--white);

    --destructive: var(--error-dark);
    --destructive-foreground: var(--white);

    --border: var(--grey-light);
    --input: var(--grey-light);
    --ring: var(--black);

    --radius: 0.5rem;
  }
 
  .dark {
    --background: var(--black);
    --foreground: var(--white);

    --quote: var(--whote);
    --quote-foreground: var(--grey-lightest);

    --card: var(--grey-darkest);
    --card-border: var(--grey-dark);
    --card-foreground: var(--white);

    --popover: var(--black);
    --popover-foreground: var(--white);

    --primary: var(--white);
    --primary-foreground: var(--black);

    --secondary: var(--grey-darkest);
    --secondary-foreground: var(--white);

    --muted: var(--grey-darkest);
    --muted-foreground: var(--grey);

    --accent: var(--accent-light);
    --accent-foreground: var(--black);

    --destructive: var(--error-light);
    --destructive-foreground: var(--black);

    --border: var(--grey-darkest);
    --input: var(--grey-darkest);
    --ring: var(--grey-light);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

.sticky-header {
  @apply fixed top-0 z-50 py-2 px-4 max-w-3xl mx-auto w-screen flex items-center;
  background: linear-gradient(to bottom, black, transparent);
}




.h1 {
  @apply flex text-4xl sm:text-5xl self-stretch;
}

.h2 {
  @apply flex text-3xl sm:text-4xl self-stretch;
}

.h3 {
  @apply flex text-2xl sm:text-3xl self-stretch;
}

.h4 {
  @apply flex text-xl sm:text-2xl self-stretch;
}

.h5 {
  @apply flex text-lg sm:text-xl self-stretch;
}

.h6 {
  @apply flex text-base sm:text-lg self-stretch;
}

.p {
  @apply flex text-sm sm:text-base font-light self-stretch;
}

.smallText {
  @apply flex text-xs sm:text-sm font-light self-stretch align-middle;
}

.link{
  @apply text-accent hover:text-foreground underline underline-offset-2 hover:underline-offset-8 transition-all ease-in-out;
}



